################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/IWantApp/FileContentIndex/ee7921e7-9d25-4139-af80-76dee60028a7.vsidx
